*{
	font-family: 'Roboto', sans-serif;
	background-color: #272324;
	color:#FFFFFF;
}
h1{
	width: 100%;
	font-family: 'Bebas Neue', cursive;
}
/*Small devices*/
@media only screen and (max-width: 600px){
	.long_text{
		display: none;
	}

	h1 {
	color:#FFFFFF;
	font-size: 3.5em;
	text-align: center;
	text-shadow:
	4px 0px 0px #B3000000,
	130px -23px 1px #242021, /*first shadow*/
	-110px 30px 1px #242021; /*second shadow*/
	}

	.botao{
		position: relative;
		height: 30px;
		width: 100px;
		border-radius: 5px;
		font-size: 0.8rem;
		background-color: #575757;
		/*Centralizando Botão*/
		margin:30px auto auto auto; /*CIMA | DIREITA | BAIXO | ESQUERDA*/
		left: 50%;
  		-ms-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);

	}
.input-text{
	background-color: white;
	display: flex;
	border-radius: 10px;
	color: black;
	width: 70%;
	font-size: 1.2rem;
	margin: auto;
}


.input-color-container {
	position: relative;
  	overflow: hidden;
  	width: 40px;
  	height: 40px;
  	border: solid 2px black;
  	border-radius: 40px;
  	margin: 20px auto 10px auto;/*CIMA | DIREITA | BAIXO | ESQUERDA*/
  }

.input-color {
  	position: relative;
  	top:-10px;
  	left:-10px;
  	width: 70px;
  	height: 70px;
  	border: none;
}
.myQR{
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px auto 20px auto;/*CIMA | DIREITA | BAIXO | ESQUERDA*/
}

}

/*Big devices*/
@media only screen and (min-width: 601px){
	.short_text{display: none;}
	.long_text{display: inline-block;}

	h1{
		font-size: 3rem;
		text-align: center;
		color: white;
		text-shadow:
		4px 0px 0px #B3000000,
		200px -90px 5px #242021, /*first shadow*/
		-250px 50px 5px #242021,
		-150px -40px 5px #242021,
		300px 50px 5px #242021; /*second shadow*/
	}
	.botao{
		position: relative;
		height: 50px;
		width: 150px;
		border-radius: 5px;
		font-size: 1.4rem;
		background-color: #575757;
		/*Centralizando Botão*/
		margin:50px auto auto auto; /*CIMA | DIREITA | BAIXO | ESQUERDA*/
		left: 50%;
  		-ms-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);

	}
.input-text{
	background-color: white;
	display: flex;
	border-radius: 10px;
	color: black;
	width: 50%;
	font-size: 1.2rem;
	margin: auto;
}

.input-color-container {
	position: relative;
  	overflow: hidden;
  	width: 70px;
  	height: 70px;
  	border: solid 2px black;
  	border-radius: 40px;
  	margin: 20px auto 10px auto;/*CIMA | DIREITA | BAIXO | ESQUERDA*/
  }

.input-color {
  	position: relative;
  	top:-10px;
  	left:-10px;
  	width: 100px;
  	height: 100px;
  	border: none;
}
.myQR{
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px auto 20px auto;/*CIMA | DIREITA | BAIXO | ESQUERDA*/
}
.mainText{
	font-size: 2rem;
	}
}


